##
## EPITECH PROJECT, 2023
## Corewar
## File description:
## .gitignore
##

# Ide folder
.vscode/
.idea/

# Build folder
build/

# Binary files & executables
*.out
*.a
*.cor
asm/asm
corewar/corewar

# Intermediary files
*.o
*.d

# Temporary files
\#*#
.#*
*tmp*
*[Tt]emp*

# Log files
vgcore.*
*.log
.gcno
.gcda

# Backup files
*~
*.bak

# Tests files
tests/corewar_bins

# Tests folder
out
